<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.server.mapper.FileMapper">

    <!-- 목록 -->
    <select id="list" resultType="Files">
        SELECT *
        FROM file
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Files">
        SELECT *
        FROM file
        WHERE no = #{no}
    </select>

    <!-- 등록 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO file (
            parent_table, 
            parent_no, 
            file_name, 
            origin_name, 
            file_path,  <!-- 추가된 열 -->
            file_size, 
            file_code
        )
        VALUES (
            #{parentTable}, 
            #{parentNo}, 
            #{fileName}, 
            #{originName}, 
            #{filePath},  <!-- 추가된 값 -->
            #{fileSize}, 
            #{fileCode}
        )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE file
           SET file_name = #{fileName}, <!-- 오타 수정 -->
               updated_at = now()
        WHERE no = #{no}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM file
        WHERE no = #{no}
    </delete>

    <!-- 부모로 목록 조회 -->
    <select id="listByParent" resultType="Files">
        SELECT * 
          FROM file
         WHERE parent_table = #{parentTable}
           AND parent_no = #{parentNo}
         ORDER BY reg_date DESC
    </select>

    <!-- 선택 삭제 -->
    <delete id="deleteFiles">
        DELETE FROM file
         WHERE no IN ( ${no} )
    </delete>

    <!-- 파일 목록 삭제 -->
    <delete id="deleteByParent">
        DELETE FROM file
        WHERE parent_table = #{parentTable}
          AND parent_no = #{parentNo}
    </delete>
</mapper>
