<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.todo.mapper.TodoMapper">

    <!-- 목록 -->
    <select id="list" resultType="Todo">
        SELECT *
        FROM todo
        ORDER BY status ASC, no DESC
    </select>

    <!-- 조회 -->
    <select id="select" resultType="Todo">
        SELECT *
        FROM todo
        WHERE no = #{no}
    </select>

    <!-- 등록 -->
    <!--
        AUTO_INCREMENT 값 담기
        1. useGeneratedKeys : AI되는 값을 keyProperty에 지정한 변수에 자동으로 담아준다.
        2. selectKey 사용하기
    -->
    <!-- <insert id="insert" useGeneratedKeys="true" keyProperty="no"> -->
    <insert id="insert">
        <selectKey keyProperty="no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID() no FROM dual
        </selectKey>
        INSERT INTO todo ( name, status )
        VALUES ( #{name}, #{status} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE todo
           SET name = #{name}
              ,status = #{status}
              ,upd_date = now()
        WHERE no = #{no}
    </update>

    <!-- 전체 수정 -->
    <update id="updateAll">
        UPDATE todo
           SET status = 1
              ,upd_date = now()
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM todo
        WHERE no = #{no}
    </delete>

    <!-- 전체 삭제 -->
    <delete id="deleteAll">
        DELETE FROM todo
    </delete>
</mapper>