.container {
    position: relative;
    width: 600px;
    border: 3px dashed orange;
    margin: auto;
}

.item {
    border: 2px solid #ddd;
    height: 330px;
}

img.left { float: left;   /* fl */  }
img.right { float: right; /* flr */}
