
.container {
    position: relative;
    width: 1200px;
    border: 3px dashed orange;
    margin: auto;
}

section {
    /* inherit : 부모요소의 지정값을 물려받아서 적용 */
    /* 
        부모요소 : container
        해당요소 : section 
    */
    width: 900px;
    height: 200px;
    border: 3px solid gray;
    margin: inherit;        /* 부모요소로부터 상속받아 auto 가 적용됨 */
}