
.container {
    position: relative;
    width: 1200px;
    border: 3px dashed orange;
    margin: auto;
}

section {
    margin-top: 20px;   
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 3px solid gray;
}