
.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}


.box1,
.box2,
.box3,
.box4 {
    width: 400px;
    height: 150px;
    border: 4px dashed black;
    margin-bottom: 300px;
}

.box1 { overflow: visible; }
.box2 { overflow: hidden; }
.box3 { overflow: scroll; }
.box4 { overflow: auto; }

/* 
    overflow-x
    : x축 기준으로만 처리유형 지정

    overflow-y
    : y축 기준으로만 처리유형 지정
*/

/*html {
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */