
* { box-sizing: border-box; }

.btn {
    display: inline-block;
    border: none;
    padding-block: 0;
    padding-inline: 0;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
}

.btn:hover { background-color: dodgerblue; }


a.btn { font-size: 14px; }

.btn i { font-size: 20px !important}

.icon-box {
    margin: 20px 0;
}