<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" id="WebApp_ID" version="6.0">
  <display-name>13_JSP_EL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!-- 서블릿 3.0 미만, 리스너 설정 -->
<!--   <listener> -->
<!--   	<listner-class>session.SessionListener</listner-class> -->
<!--   </listener> -->
</web-app>