.container {
    position: relative;
    width: 1024px;
    min-height: 500px;
    border: 3px dashed orange;
    margin: auto;
}


.item {
    width: 300px;
    height: 200px;
}

h1 { text-align: center; }
.inner { height: 100px; }

.left { float: left; background-color: pink; }
.right { float: right; background-color: lightblue; }
.next { background-color: cornflowerblue; }

.clear-left { clear: left; /* cll */ }
.clear-right { clear: right;    /* clr */ }


