
* { margin: 0; padding: 0; }

.ball {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    background-color: royalblue;
    border-radius: 50%;

    /* 애니메이션 */
    animation-name: ball;                   /* 애니메이션 이름 */
    animation-duration: 4s;                 /* 재생시간 */
    animation-timing-function: linear;      /* 타이밍 함수 */
    animation-iteration-count: infinite;    /* 반복 횟수 */
}

/* 애니메이션의 변경시점을 지정하는 속성 */
@keyframes ball {
    /* 시작시점 : from or 0% */
    /* 종료시점 : to or 100% */
    0% { 
        left: 0; 
    }

    50% {
        left: calc(100% - 200px); 
        transform: rotate(360deg);
    }

    100% { 
        left: 0;
    }
}